name: Auto Package Release

on:
  push:
    branches: [ develop ]
    tags: [ 'v*' ]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            task: ":app:packMsi :app:packZip"
          - os: ubuntu-latest
            task: ":app:packDeb"
          - os: macos-latest
            task: ":app:packDmg"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
            ${{ runner.os }}-gradle-

      - name: Build
        run: |
          chmod +x gradlew
          ./gradlew :app:cleanPackDir --info
          ./gradlew ${{ matrix.task }} --info
          ./gradlew --stop

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{ matrix.os }}
          path: |
            out/main/**/*.msi
            out/main/**/*.zip
            out/main/**/*.deb
            out/main/**/*.dmg
          if-no-files-found: error

  release:
    name: Create GitHub Release
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./all-assets
          merge-multiple: true

      - name: Finalize Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./all-assets/**/*
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}